node_modules
.vscode

# these games are already uploaded elsewhere
another_clone
antigrid
ld49
rush_hour_antigrid
sweet_buns
thinky_shmup
harvest
aaa_template_vanilla

# weird github stuff so better to upload separately
sphere_music

# abandoned
keyframes
purgatory
roots
shaku_buns

# maybe some day?
online_game
solitaire
aaa_shaku_zig
parcel_test
quantum_childminding
rhino_express
big_band

# private stuff
museum

# other git repositories, don't include them
Shaku
open-games
